# Servidor
PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=esperarojo_db

# JWT
JWT_SECRET=esperarojo_ulima_secreto_jwt_2024
JWT_EXPIRES_IN=24h
